html {
	font-size: 20px;
}

@media (prefers-color-scheme: light) {
	html {
		background-color: var(--secondary-color);
	}	
}

@media (prefers-color-scheme: dark) {
	html {
		background-color: var(--primary-color);
	}
}

body {
	display: grid;
	grid-template-columns: 1fr 3fr;
	font-family: 'Times New Roman', Times, serif;
	height: 100vh;
	padding: 0.5rem;
	max-width: 72rem;
	margin: auto;
}

@media (prefers-color-scheme: dark) {
	body {
		color: var(--secondary-color);
		background: var(--primary-color);
	}
}

@media (prefers-color-scheme: light) {
	body {
		color: var(--primary-color);
		background: var(--secondary-color);
	}
}

@media screen and (max-width: 28.8rem) {
	body {
		grid-template-columns: none;


	}
}