:root {
	--primary-color: #000000; 
	--secondary-color: #ffffff;
	--tertiary-color: #9747ff;
	--quaternary-color: #e7e7e7;

	--Large-fontsize: 2rem;				/* 40px */
	--body-fontsize: 1rem;				/* 20px */
	--bodyUppercase-fontsize: 1rem;	/* 20px */
	--small-fontsize: 0.5rem;				/* 10px */
	--smallUppercase-fontsize: 0.5rem;	/* 10px */
}