.aside-container__header-logo {
	font-family: Helvetica, sans-serif;
	font-size: 2rem;
	font-weight: 700;
}

.aside-container__header-text {
	padding-top: 1rem;
	padding-bottom: 1rem;
	margin: 0px
}

@media (prefers-color-scheme: light) {
	.aside-container__header-text {
		border-top: 1px solid;
		border-color: var(--primary-color);
	}
	.aside-img_white {
		display: none;
	}
	.aside-img_purplecopy {
		display: none;
	}

}

@media (prefers-color-scheme: dark) {
	.aside-container__header-text {
		border-top: 1px solid;
		border-color: var(--secondary-color);
	}
	.aside-img_white {
		width: 100%;
	}
	.aside-img_black {
		display: none;
	}
	.aside-img_purple {
		display: none;
	}

}

.header__logo-container {
	width: 100%;
}

.aside-img_black {
	width: 100%;
}
.aside-img_purple {
	width: 100%;
	display: none;
}
.aside-img_purplecopy{
	display: none;
}
