.main-container__content-box {
	display: grid;
	grid-template-columns: 1fr 4fr 1fr 1fr 1fr 1fr;
	grid-row-gap: 40px;
}

.main-container__head-text {
	grid-column: 2 ;
	font-size: var(--Large-fontsize);
	line-height: 48px;
}

.main-container__image {
	width: 100%;
	grid-column: 2 / span 3;
}

.main-container__text-title {
	grid-column-start: 2;
	font-size: var(--Large-fontsize);
	line-height: 48px;
	grid-column: 2 / span 2;
}

.main-container__text-div {
	grid-column-start: 2;
}

.main-container__text-1 {
	font-size: var(--body-fontsize);
	line-height: 23px;
}

.main-container__text-2 {
	font-size: var(--body-fontsize);
	line-height: 23px;
	text-indent: 3rem;
}

.main-container__text-3 {
	font-size: var(--body-fontsize);
	line-height: 23px;
	text-indent: 3rem;
}

.main-container__text-4 {
	font-size: var(--body-fontsize);
	line-height: 23px;
	text-indent: 3rem;
}