.aside-container__navigation {
	padding-top: 1rem;
	padding-bottom: 1rem;
	margin: 0px;
}

.aside-container__navigation-list-item {
	font-size: 2rem;
}

.aside-container__navigation-list a {
	text-decoration: none;
	position: relative;
}

.aside-container__navigation-list a::after {
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	transform-origin: bottom left;
	transition: transform 0.2s ease-out;
}

.aside-container__navigation-list a:hover::after {
	transform: scaleX(1);
	transform-origin: bottom left;
}


@media (prefers-color-scheme: light) {
	.aside-container__navigation {
		border-top: 1px solid;
		border-bottom: 1px solid;
		border-color: var(--primary-color);
	}

	.aside-container__navigation a {
		color: var(--primary-color);
	}
	
	.aside-container__navigation-list a::after {
		background-color: var(--primary-color);
	}
}

@media (prefers-color-scheme: dark) {
	.aside-container__navigation {
		border-top: 1px solid;
		border-bottom: 1px solid;
		border-color: var(--secondary-color);
	}
	
	.aside-container__navigation a {
		color: var(--secondary-color);
	}

	.aside-container__navigation-list a::after {
		background-color: var(--secondary-color);
	}
}

@media only screen and (max-width: 1100px) and (min-width: 1001px) {
	.aside-container__navigation-list-item {
		font-size: 1.8rem;
	}
}

@media only screen and (max-width: 1001px) and (min-width: 851px) {
	.aside-container__navigation-list-item {
		font-size: 1.5rem;
	}
}

@media only screen and (max-width: 850px) and (min-width: 681px) {
	.aside-container__navigation-list-item {
		font-size: 1.2rem;
	}
}

@media only screen and (max-width: 680px) and (min-width: 577px) {
	.aside-container__navigation-list-item {
		font-size: 1rem;
	}
}