.aside-container__navigation {
	border-top: 1px solid var(--primary-color);
	padding-top: 20px;
	padding-bottom: 20px;
	margin: 0px
}

.aside-container__navigation-list-item {
	font-size: 2rem;
}

.aside-container__navigation-list a {
	text-decoration: none;
}

@media (prefers-color-scheme: light) {
	.aside-container__navigation a {
		color: var(--primary-color);
	}
}

@media (prefers-color-scheme: dark) {
	.aside-container__navigation a {
		color: var(--secondary-color);
	}
}