.aside-container{
	overflow: scroll;
	overflow-x: hidden;
}

.aside-container__events{
	border-top: 0.05 solid var(--primary-color);
	padding-top: 1rem;
}

.aside-container__events-header{
	font-size: var(--body-fontsize);
	line-height: 1.15;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}

.aside-container__events-buttondiv{
	position: relative;
	width: 80%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 0.25rem;
	margin-bottom: 1rem;
	margin-top: 1rem;
}

.aside-container__events-button{
	box-sizing: border-box;
	font-size: var(--small-fontsize);
	border-radius: 2.5rem;
}


.aside-container__events-list{
	list-style-type: none;
}

.aside-container__events-list-item{
	padding-top: 0.5rem;
}

.aside-container__events-category, .aside-container__events-time{
	font-style: normal;
	font-size: var(--small-fontsize);
	line-height: 0.6rem;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}

.aside-container__events-title{
	font-size: var(--body-fontsize);
	line-height: 1.15rem;
	font-weight: 400;
}

@media (prefers-color-scheme: dark) {
	.aside-container__events-button {
		border: 0.05rem solid var(--sercondary-color);
	}

	.aside-container__events-button:hover {
		background: var(--sercondary-color);
		color: var(--primary-color);
	}
}

@media (prefers-color-scheme: light) {

	.aside-container__events-button {
		border: 0.05rem solid var(--primary-color);
	}

	.aside-container__events-button:hover {
		background: var(--primary-color);
		color: var(--sercondary-color);
	}
}

