.main-container__subscribe {
	overflow: hidden;
	position: fixed;
	width: 100%;
	bottom: 50px;
}

.main-container__subscribe-banner {
	display: flex;
	justify-content: space-between;;
	align-items: center;
	font-family: helvetica, sans-serif;
	font-weight: 900;
	font-size: var(--large-font-size);
	max-width: 53rem;
	height: auto;
	padding: 7.5px 1rem;
	border: none;
	border-radius: 10px;
	opacity: 1;
	transition: opacity 0.5s ease-in-out;
	background-color: var(--quaternary-color);
	color: var(--primary-color);
}

.main-container__subscribe-text {
	width: 100%;
}

.main-container__subscribe-banner a {
	text-decoration: none;
	color: inherit;
}

.main-container__subscribe-banner-close {
	position: relative;
	padding-right: 30px;
	width: 40px;
	height: 40px;
	border: none;
}

.main-container__subscribe-banner-close::before, .main-container__subscribe-banner-close::after {
	content: "";
	position: absolute;
	width: 30px;
	height: 3px;
	background-color: black;
}

.main-container__subscribe-banner-close::before {
	transform: rotate(45deg);
}

.main-container__subscribe-banner-close::after {
	transform: rotate(-45deg);
}

/* Hover effect only on desktop */
@media screen and (min-width: 1024px) {
	.main-container__subscribe-banner:hover{
		color: white;
		background-color: black;
	}
	
	.main-container__subscribe-banner:hover .main-container__subscribe-banner-close::before,
	.main-container__subscribe-banner:hover .main-container__subscribe-banner-close::after {
		background-color: white;
	}
}

/* responsivity for mobile screens */
@media screen and (max-width: 1024px) {
	.main-container__subscribe-banner span {
		display: none;
	}
	
	.main-container__subscribe-banner {
		font-size: var(--large-font-size);
		width: 95%;
	}
}

@media screen and (max-width: 768px) {
	.main-container__subscribe-banner span {
		display: none;
	}
	
	.main-container__subscribe-banner {
		font-size: var(--large-font-size);
		width: 95%;
	}
}