.main-container__subscribe-form {
	display: flex;
	justify-content: center;
}

.main-container__subscribe-banner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	bottom: 40px;
	width: 72.5%;
	height: auto;
	border: none;
	border-radius: 10px;
	font-family: helvetica;
	font-weight: 900;
	font-size: 3vw;
	padding: 7.5px 1rem;
	margin: 15px;
	opacity: 1;
	transition: opacity 0.5s ease-in-out;
	background-color: var(--quaternary-color);
	color: var(--primary-color);
}

.main-container__subscribe-banner a {
	text-decoration: none;
	color: inherit;
}

.main-container__subscribe-banner-close {
	position: relative;
	width: 50px;
	height: 50px;
	border: none;
}

.main-container__subscribe-banner-close::before, .main-container__subscribe-banner-close::after {
	content: "";
	position: absolute;
	width: 30px;
	height: 3px;
	background-color: black;
}

.main-container__subscribe-banner-close::before {
	transform: rotate(45deg);
}

.main-container__subscribe-banner-close::after {
	transform: rotate(-45deg);
}

.main-container__subscribe-banner:hover{
	color: white;
	background-color: black;
}

.main-container__subscribe-banner:hover .main-container__subscribe-banner-close::before,
.main-container__subscribe-banner:hover .main-container__subscribe-banner-close::after {
	background-color: white;
}

/* responsivity for mobile screens */

@media screen and (max-width: 1024px) {
	.main-container__subscribe-banner span {
		display: none;
	}

	.main-container__subscribe-banner {
		font-size: 5vw;
		width: 70%;
	}
}

@media screen and (max-width: 768px) {
	.main-container__subscribe-banner span {
		display: none;
	}

	.main-container__subscribe-banner {
		font-size: 5vw;
		width: 70%;
	}
}